
/* Scott stuff */

/*for toolbar*/
body { padding-top: 50px; }

#toolbar {
    background: #ff7094;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 0px;
}
#toolbar a {
    color: #FFFFFF;
}


.FAQ {
    
}
.question {
    font-weight: bold;
    padding-bottom: 10px;
}

.answer {
    padding-bottom: 20px;
}

.copyright {
    text-align: center;
    padding-top: 10px;
    font-size: 0.75em;
}

.address {
    white-space: pre;
}

.slogan {
    font-family: 'Lato', sans-serif;
}

.email {
    color: #fff;
    text-decoration: underline;
}
.detail {
    color: #666666;
}

.section-header {
    padding-top: 1em;
}

.buffer {
    height: 10px;
}

.screenshot {
}

.screenshot img{
    width: 222px;
    height: 450px;
}

.screenshotsmall img{
    width: 111px;
    height: 225px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.main-content {
    /*separate from toolbar*/
    padding-top: 2em; 
    /*separate from footer*/
    padding-bottom: 1em;
}

.btn-primary {
  color: #fff;
  background-color: #ff7094;
  border-color: #ff7094;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #CC5A76;
  border-color: #CC5A76;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary .badge {
  color: #ff7094;
  background-color: #fff;
}

.btn-transparent{
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
}
.btn-facebook{
    background-color: #3b5998;
    color: #fff;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook.active{
    background-color: #273B65;
    color: #ccc;
}

.btn-save {

}
.btn-cancel {
    
}

.object-display{
    border-radius: 10px;
}
.object-display img{
    border-radius: 10px;
}

.profile-pic img{
    height: 120px;
    max-width: 120px;
}

.border-left {
    border-left: solid 1px #666666;
}

hr {
    border-top: 1px solid #ddd;
}

.static-linkbar {
    clear: both;
    padding-bottom: 30px;
    text-align: center;
}
.static-linkbar a {
    display: inline-block;
    padding: 0 12px 0 10px;
    color: #aeaeae;
    font-size: 1.167em;
}
.static-linkbar a:hover {
    text-decoration: underline;
}


/* Modal Windows */
.modal-header {
    background-color: #ff7094;
    color: #fff;
}
.modal-body {
    background-color: #dfdfdf;
}
.modal-body .searchbar {
    margin-bottom: 1em;
}
