
/* Scott stuff */


nav {
    background: #FF7094;
    color: #FFFFFF;
}
.brand-logo, nav .brand-logo {
    font-family: 'Rochester', cursive;
    padding-left: 1em;
    padding-right: 1em;
}

a, .tabs .tab a {
    color: #45AACC;
}
.tabs .indicator {
    background-color: #45AACC;
}

.slogan {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.email {
    color: #fff;
    text-decoration: underline;
}
.detail {
    color: #666666;
}

.section-header {
    padding-top: 1em;
}

.screenshot {
}
.screenshot img{
    width: 217px;
    height: 450px;
    margin-bottom: 10px;
}
.screenshotsmall img{
    width: 109px;
    height: 225px;
    margin-bottom: 10px;
}
.screenshot-web img{
    width: 800px;
    margin-bottom: 10px;
}
.screenshotsmall-web img{
    width: 400px;
    margin-bottom: 10px;
}
@media (max-width: 400px) {
  .screenshotsmall-web img{
    width: 250px;
  }
}
.vertical-align {
    display: flex;
    align-items: center;
}

.main-content {
    /*separate from toolbar*/
    padding-top: 2em; 
    /*separate from footer*/
    padding-bottom: 1em;
}

.inverse-color {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #FFFFFF;
    background-color: #45AACC;
}
.inverse-color h3,
.inverse-color h4,
.inverse-color p
{
    color: #FFFFFF;
    background-color: #45AACC;
}

.inverse-color a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #ff7094;
  border-color: #ff7094;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #CC5A76;
  border-color: #CC5A76;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary .badge {
  color: #ff7094;
  background-color: #fff;
}

.btn-transparent{
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
}
.btn-facebook{
    background-color: #3b5998;
    color: #fff;
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook.active{
    background-color: #273B65;
    color: #ccc;
}

.btn-save {

}
.btn-cancel {
    
}

.object-display{
    border-radius: 10px;
}
.object-display img{
    border-radius: 10px;
}

.profile-pic img{
    height: 120px;
    max-width: 120px;
}

.border-left {
    border-left: solid 1px #666666;
}

hr {
    border-top: 1px solid #ddd;
}

.static-linkbar {
    clear: both;
    padding-bottom: 30px;
    text-align: center;
}
.static-linkbar a {
    display: inline-block;
    padding: 0 12px 0 10px;
    color: #aeaeae;
    font-size: 1.167em;
}
.static-linkbar a:hover {
    text-decoration: underline;
}


/* Modal Windows */
.modal-header {
    background-color: #ff7094;
    color: #fff;
}
.modal-body {
    background-color: #dfdfdf;
}
.modal-body .searchbar {
    margin-bottom: 1em;
}


/* Tabbed Pages */
.tabframe {
    width: 100%;
    height: 100%;
}

/* Aspect Ratios */
div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 75%; /* 16:9 */
    position: relative;
}
 
div.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    font-size: 24px;
    text-align: center;
}

/* Vertical space */
.vspace1 {
    width: 100%;
    height: 1em; 
}
.vspace2 {
    width: 100%;
    height: 2em;
}
.vspace3 {
    width: 100%;
    height: 3em;
}
.vspace4 {
    width: 100%;
    height: 4em;
}
.vspace5 {
    width: 100%;
    height: 5em;
}

/* Typography */
h1 {
    font-size: 4em;
    font-weight: 100;
}





