<!--A Design by W3layouts. Modified by Scott Krulcik PromApp LLC.
Author: W3layout
Author URL: https://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: https://creativecommons.org/licenses/by/3.0/

Thanks to https://www.bootply.com/idWWJSmrKD# for sidebar layout on this page
-->
<!DOCTYPE html>
<html>
<head>
	<title>PromApp | Profile</title>
     <link rel="SHORTCUT ICON" HREF="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800 ' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="CSS/style.css" rel='stylesheet' type='text/css' />
    <link href="CSS/promapp.css" rel='stylesheet' type='text/css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.4.1/holder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><!-- For Address parsing -->
    <!-- BEGIN: Underscore Template Definition. -->

    <script type="text/template" class="editor_template">
        <div id="<%= data.id %>" class='col-sm-8 col-md-3'>
            <div class="thumbnail object-display">
                <div class="caption">
                    <div class="form-group">
                        <h4><%= data.title %></h4>
                    </div>
                    <div class="form-group">
                        <div class="form-group alert alert-danger hidden" role="alert" id="<%= data.id %>-status">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" id="<%=data.id%>-image"></input>
                    </div>
                    <% _.each( data.textInputs, function( textInfo ){ %>
                        <div class="form-group">
                            <input id="<%= textInfo.id %>" class="form-control" type="text" placeholder="<%= textInfo.placeholder %>" />
                        </div>
                    <% }); %>
                    <div class="form-group">
                        <p>
                            <button id="<%= data.id %>-cancel" class="btn btn-default btn-cancel" type="button">Cancel</button>
                            <button id="<%= data.id %>-save" class="btn btn-primary btn-save pull-right" type="button">Save</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!-- Template for table objects of prom information -->
    <script type="text/template" class="promdetailrow">
            <th scope="row"><%=data.label%>:</th>
            <td><%=data.value%></td>
    </script>
    <!-- Template for an individual result of a search -->
    <script type="text/template" class="promsearchitem">
        <a class="list-group-item" data-toggle="collapse" href="#<%=data.promid%>detail">
                                    <%= data.schoolName %>
        </a>
        <div class="collapse" id="<%=data.promid%>detail">
            <div class="well prom-list-detail">
                <table class="table table-striped" id="detail-table">
                </table>
                <div class="" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" id="follow">Follow Prom</button>
                </div>
            </div>
        </div>
    </script>
    <!-- END: Underscore Template Definition. -->
    <script src="js/promapp_profile.js"></script>
	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar(){
			window.scrollTo(0,1);
		}
	</script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" id="toolbar">
        <a href="index.html">Prom App</a>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="row vertical-align sidebar-centered" id="profile">
                <div class="col-md-6 col-lg-6">
                    <div class="pull-right profile-pic">
                        <img src="images/profile-placeholder.png" class="img-circle"></img>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 border-left">
                    <div class="pull-left">
                        <h4 id="username">User Name</h4>
                        <h5 id="dressNumber" class="detail"># Dresses</h5>
                        <h5 id="promNumber" class="detail"># Proms</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="stores">
                <div class="section-header">
                    <h3>Stores:
                        <button id="add_store" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <span class="sr-only">Add</span>
                        </button>
                    </h3>
                    <hr>
                </div>
                <div id="storelist" class="row">
                    <div id="store-placeholder">
                        <h3 class="text-center"><small>No Stores</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="dresses">
                <div class="section-header">
                    <h3>Dresses
                        <button id="add_dress" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span class="sr-only">Add</span>
                        </button>
                    </h3>
                    <hr>
                </div>
                <div id="dresslist" class="row">
                    <div id="dress-placeholder">
                        <h3 class="text-center"><small>No Dresses</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="proms">
                <div class="section-header">
                    <h3>Proms
                        <button id="searchForProm" type="button" class="btn btn-default" data-toggle="modal" data-target="#promSearch">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <span class="sr-only">Search For Prom</span>
                        </button>
                        <button id="add_prom" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            <span class="sr-only">Add</span>
                        </button>
                    </h3>
                    <hr>
                </div>
                <div id="promlist" class="row">
                    <div id="prom-placeholder">
                        <h3 class="text-center"><small>No Proms</small></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL VIEWS -->
    <div class="modal fade" id="promSearch" tabindex="-1" role="dialog" aria-labelledby="promSearchLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close dismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="promSearchLabel">Search For Proms</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 searchbar">
                            <div class="input-group">
                                <input type="text" id="search-prom-field" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                <button id="search-prom-btn"class="btn btn-default" type="button">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger hidden" role="alert" id="promsearchalert">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group" id="promsearchresults">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary dismiss" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>